@model IEnumerable<CalumBSUAttempt2.Models.Actor>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @{
            if (ViewBag.userId != null)
            {
                @Html.ActionLink("Create New", "Create")
            }
        }

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @{ if (item.ActorImage != null)
                        //if the actor image is left blank then display the default
                    {
                        <img height=100 width=100 src=@Url.Content(item.ActorImage) alt="Image">
                    }
                    else
                    {
                        <img height=100 width=100 src="https://dryicons.com/icon/person-avatar-icon-9872" alt="Default Image">
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ActorId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ActorId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ActorId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
