@model IEnumerable<CalumBSUAttempt2.Models.FilmComment>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilmComment</title>
</head>
<body>
    <p>
        @Html.ActionLink("Add Comment", "CommentCreate")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.FilmId == item.Film.FilmId)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "CommentEdit", new { id = item.FilmCommentId }) |
                        @Html.ActionLink("Delete", "CommentDelete", new { id = item.FilmCommentId })
                    </td>
                </tr>
            }
        }

    </table>
</body>
</html>
