@model IEnumerable<CalumBSUAttempt2.Models.Film>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                <img height=200 width=200 src=@Url.Content(item.FilmImage) alt="C:\Users\User\source\repos\CalumBSUAttempt2\CalumBSUAttempt2\Images\people-default.jpg">
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.FilmName)
            </td>
            <td>
                @Html.DisplayFor(itemModel => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FilmId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FilmId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FilmId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
